*{
margin: 0;
padding: 0;
}

.App{
  display: flex;
  align-items: center;
  overflow: scroll;
  justify-content: center;
  /* justify-content:space-around; */
  flex-wrap: wrap;
  background: #000;
  width: 93vw;
  /* height: 80vh; */
}
.box{
  height: 40vh;
  width:400px;
  border: 2px solid grey;
  background-color: rgb(72, 73, 75);
  margin: 5px;
  display: flex ;
  justify-content: center;
}
.image{
  margin-top: 20px;
}
.image{
  background:url("https://c4.wallpaperflare.com/wallpaper/952/824/961/makoto-shinkai-kimi-no-na-wa-wallpaper-preview.jpg") no-repeat;
  background-size: cover;
  
}
.image2{
  margin-top: 20px;
  background:url("https://c4.wallpaperflare.com/wallpaper/457/443/825/lion-colorful-digital-art-animals-wallpaper-preview.jpg") no-repeat;
  background-size:cover;
}
.image,.image2{
  height:20vh;
  width: 90%;
}